[Unit]
Description=Confd Daemon
After=syslog.target network.target
Documentation=https://wiki.bookit.com/display/dspace/ConfD

[Service]
Type=simple
ExecStart=/usr/local/bin/confd
Restart=on-failure
StandardOutput=syslog

[Install]
WantedBy=basic.target
