[Desktop Entry]
Name=TSurf-Matrix
Type=Application
Comment=a simple web browser based on WebKit/GTK+
Exec=tsurf-matrix
TryExec=tsurf-matrix
Icon=surf
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=tsurf-matrix
