[Desktop Entry]
Name=TSurf-Bookmarks
Type=Application
Comment=a simple web browser based on WebKit/GTK+
Exec=tsurf-bookmarks
TryExec=tsurf-bookmarks
Icon=surf
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=tsurf
